# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
temp/csm_IfM-Korbl-Silke_166f600afc.jpg
temp/rl_silke-korbl_brix.webp
temp/Silke_Korbl_Reiseleiter.jpg
temp/silke-korbl.webp
