body {
    width: 400px;
    font-family: sans-serif;
}

#bookmark-list {
    margin-top: 10px;
}

.bookmark-item {
    padding: 5px;
    border-bottom: 1px solid #eee;
}

.bookmark-item a {
    text-decoration: none;
}